<ion-header>
  <ion-toolbar>
    <ion-title>
      紀錄
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content_back">
  <ion-list lines="none">

    <!-- 搜尋 -->
    <!--
      <ion-searchbar></ion-searchbar>
    -->

    <!-- Recard_card -->
    <ion-card>
      <ion-img src="/assets/images/img_map.PNG"></ion-img>
      <ion-card-header>
        <ion-card-title class="card_title">
          <ion-icon name="man"></ion-icon>健走
        </ion-card-title>
        <ion-card-subtitle>
            January 1, 2019
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row align-items-center>
          <ion-col>
            5<br>km
          </ion-col>
          <ion-col>
            60<br>min
          </ion-col>
          <ion-col>
            12<br>min／km
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <!-- ----------- -->
    <ion-card>
      <ion-img src="/assets/images/img_map.PNG"></ion-img>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="walk"></ion-icon>跑步
        </ion-card-title>
        <ion-card-subtitle>
            January 1, 2019
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row align-items-center>
          <ion-col>
            5<br>km
          </ion-col>
          <ion-col>
            25<br>min
          </ion-col>
          <ion-col>
            5<br>min／km
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <!-- ----------- -->
    <ion-card >
      <ion-img src="/assets/images/img_map.PNG"></ion-img>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="bicycle"></ion-icon>單車
        </ion-card-title>
        <ion-card-subtitle>
            January 1, 2019
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row align-items-center>
            <ion-col>
              5<br>km
            </ion-col>
            <ion-col>
              18<br>min
            </ion-col>
            <ion-col>
              3.6<br>min／km
            </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <!----------------->

  </ion-list>
</ion-content>
