ion-title{
  font-family: 'Noto Sans TC', sans-serif;
  text-align: left;
}

ion-content{
    --ion-font-family: 'Noto Sans TC', sans-serif;
    --ion-background-color:#FFE599;
}

ion-row {
    text-align: center;
}

ion-card{
    max-height: 100%;
    overflow: hidden;
    background-color:#FFFFFF;
}

ion-card-title{
    font-size: 130%;
    font-weight: 200;
    line-height: 130%;
    display: table-cell;
    vertical-align: middle;
}

ion-card-content{
    font-size: 130%;
    font-weight: 500;
    line-height: 130%;
}

ion-icon{
    padding-right: 10px;
}

.selectRecord{
    width: 100%;
    text-align: center;
}

ion-toolbar{
    text-align: center;
    
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }