<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">   
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      紀錄
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content_back">
  <ion-list lines="none">

    <!-- 搜尋 -->
    <ion-row class="selectRecord">
      <ion-col>
        <ion-select [compareWith]="compareFn" [ngModel]=months[0] (ngModelChange)="ngMonth($event)">
          <ion-select-option *ngFor="let month of months" value="{{month}}">{{month}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select [compareWith]="compareFn" [ngModel]=types[0] (ngModelChange)="ngSportType($event)">
          <ion-select-option *ngFor="let type of types" value="{{type}}">{{type}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Recard_card -->
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="放開手指將更新紀錄"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let record of records" >
      <ion-card class='Recard_card'>
        <ion-card-header>
          <ion-card-title class="card_title">
            <p>
              <ion-icon name="{{record.icon}}"></ion-icon>{{record.otype}}
            </p>
          </ion-card-title>
          <ion-card-subtitle>
              {{record.sportstarttime}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="row-align">
            <ion-col>
              {{record.sportdistance}}<br>km
            </ion-col>
            <ion-col>
              {{record.sectime}}
            </ion-col>
            <ion-col>
              {{record.avgminkm}}<br>min／km
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-toolbar>
      <ion-label>資料到底囉!</ion-label>
    </ion-toolbar>

  </ion-list>
</ion-content>
