/*
* Box Theme
* Created by : Ahmed Eissa
* website : www.ahmedessa.net
* behance : https://www.behance.net/3essa
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- General -
    - typography -
    - Preloader -
	- Header -
    - box intro section -
    - Portfoilo section -
    - Footer -
    - About page -
    - Services page -
    - contact page -
    - Portfolio single page -
    - Responsive media queries -
*/


/* Google fonts & font family
==================================================*/

@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css); /*引用思源中文*/
@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400); /*detailedACt 評分的東東*/

/* General
==================================================*/

html,
body {
    height: 100%;
    font-family: 'Poppins','Noto Sans TC', sans-serif !important;
    line-height: 1.8;
    color: #404040;
    min-width:1000px;
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive {
    background: #f3ad00;
}

/*----------------------------------------------------------------
7. Scrollbar
-----------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s
}

.uppercase {
    text-transform: uppercase;
}

.h-30 {
    height: 30px
}

.h-10 {
    height: 10px
}

.color {
    color: #ffbf00;
    font-size: 11px;
    margin-left: 5px;
    
}




/* 我加的 */
body{ 
  font-family: "Dosis"; 
  font-size: 1.3em;
  line-height: 1.6em;
}

.headline{
  font-size: 2em;
  text-align: center;
}

button {
  border: none;
  padding: 0.8em;
  background: #F96;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin: 0 0 1em;
}

button:hover, button:focus {
  cursor: pointer;
  outline: none;
}

#editor {
  padding: 1em;
  background: #E6E6E6;
  border-radius: 3px;
}

#editor:focus {
  background: #FFF;
  border-color: #69c773;
}

[contenteditable="true"] {
  font-family: "Rajdhani";
  color: #C00;
}


.widget-post {
    height: auto;  
    border: 1px solid #aeaeae;
    border-radius: 6px;
    box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
    background-color: #fff;  
    overflow: hidden;
}

.widget-post__textarea {
    width: 100%;
    min-height: 180px;
    height: 100%;
    padding: .5em; 
    border: none;
    resize: none;
}

.widget-post__textarea:focus {
    outline: none;
}


.leaderboard{
    width: 100%;
    box-sizing: border-box;
    max-width: 800px;
    margin: 30px 50px;
    display: none;
}

.leaderboard:before {
    position: absolute;
    content: '';
    /*right: calc(100% + 1rem);*/
    left: 15px;
    top: 0;
    height: 100%;
    width: 1.5rem;
    border-radius: 5px;
    border: 1px solid #e9c17b;
    background: repeating-linear-gradient(-45deg, #fdefb2 0px, #fdefb2 4px, #e9c17b 4px, #e9c17b 8px);
}

.leaderboard tr > * {
    text-align: left;
    padding: 0.5rem;
}

.leaderboard tr th{
    font-weight: 300;
    letter-spacing: 0.04rem;
    font-size: 1.5rem;
    color: #fe7d67;
    text-transform: uppercase;
}

.leaderboard tr td{
    font-size: 18px;
    color: #ff4136;
}

.leaderboard tr th:nth-child(1), .leaderboard tr td:nth-child(1){
    width: 100px;
}

.leaderboard tr th:nth-child(2), .leaderboard tr th:nth-child(3),
.leaderboard tr td:nth-child(2), .leaderboard tr td:nth-child(3){
    width: 300px;
}

.leaderboard tr td.position {
    font-weight: 500;
    width: 100px;
    /*text-align: right;
    padding-right: 80px;*/
}

.leaderboard td.user {
    padding-left: 1rem;
    font-size: 18px;
}

.leaderboard td.points span {
    background: #fdeb75;
    border-radius: 30px;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    /*text-transform: uppercase;*/
}

button#toggle{
    float: right; 
    margin:30px 30px 30px 0;
    border: none;
    background: transparent;
}

button#toggle .fa-chevron-down{
    color: #fe7d67;
}



.postType{
    font-size: 20px;
    border-radius: 5px;
}

.btnTag {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 18px 8px; 
    background-color: #fff;
    color: #666;
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
    font-size: 15px;
    float: left;
    margin-right: 8px;
}
.btnTag:-moz-focus-inner {
    padding: 0;
    border: 0;
}
.btn--stripe {
    overflow: hidden;
    position: relative;
}
.btn--stripe:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
}
.btn--stripe:hover {
    background-color: #effd5f;
    color: #b2560c;
    border-color: #666;
    font-weight: 600;
}
.btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    animation: stripe-slide 12s infinite linear forwards;
}

.postTitle{
    width:400px; 
    padding: 5px; 
    border-radius: 5px; 
    border-style: none;
    border:1px solid #aeaeae;
}


h2{font-size: 22px;}

/*.modal-dialog  { width:700px;}

.modal-row  { margin-top:25px; }

.modal-row p { 
    margin-top: 8px;
    font-size: 16px;
}

.modal.fade {
    z-index: 1200 !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop;
  animation-duration: 0.6s
}



/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


/*.modal-header {
  padding: 2px 16px;
  background-color: #4F5467;
  color: #fff;
}

.modal-body {
    padding: 2px 16px;
    font-size: 14px;
}*/

.modal-footer .btn{
    border-color: #f3ad00;
    border: #f3ad00;
    background: #f3ad00;
    color: #fff;
}



/* 我加的 */












/* typography
==================================================*/

h1 {
    color: #393939;
    font-size: 60px;
    text-transform: uppercase;
}

h3 {
    color: #393939;
}

h5 {
    color: #ffbf00;
}

p{
    font-size: 18px;
    color: #333;
  }


/* preloader
==================================================*/


.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffbf00;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* headr
==================================================*/

.box-header {
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 60px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    background: transparent;
    box-shadow: none;
}

.box-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-header.is-fixed {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    background-color:#fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.box-header.is-visible {
    /* -webkit-transform: translate3d(0, 100%, 0); 
    transform: translate3d(0, 100%, 0); */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}

.box-header.menu-is-open {
    background-color: #fff;
}

.box-logo {
    display: block;
    padding: 15px;
    z-index: 100;
}



/*==================
 LATEST PROPERTY SECTION
====================*/
#aa-latest-property {
    background-color: #f8f8f8;
    display: inline;
    padding: 100px 0;
    /* float: left;
    width: 100%; */
}
  
#aa-latest-property .aa-latest-property-area {
    display: inline;
    float: left;
    width: 100%;
}

#aa-latest-property .aa-latest-property-area .aa-latest-properties-content {
    display: inline;
    float: left;
    margin: 50px 0;
    width: 100%;
}

.aa-properties-item {
    display: inline;
    float: left;
    margin-top: 30px;
    width: 100%;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.aa-properties-item:hover {
    box-shadow: 1px 2px 5px 3px #ccc;
}

.aa-properties-item .aa-properties-item-img {
    width: 100%;
}

.aa-properties-item .aa-properties-item-img img {
    width: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.aa-properties-item .aa-tag {
    color: #fff;
    padding: 6px 10px;
    position: absolute;
    left: 15px;
    top: -15px;
}

.aa-properties-item .for-sale {
    background-color: #ffa500;
}

.aa-properties-item .for-rent {
    background-color: #20ceb3; /*ff6a6a*/
}

.aa-properties-item .sold-out {
    background-color: #ff0000;
}

.aa-properties-item .aa-properties-item-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    display: inline;
    float: left;
    width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info {
    border-bottom: 1px solid #ddd;
    display: inline;
    float: left;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info span {
    margin: 0px 5px;
    font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about {
    display: inline;
    float: left;
    width: 100%;
    padding: 10px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about h3 {
    margin-top: 0px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about h3 a{
    margin-top: 0px;
    color: #333;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about p {
    font-size: 14px;
    height: 80px;
    overflow: hidden;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial {
    border-top: 1px solid #ddd;
    display: inline;
    float: left;
    padding: 10px;
    width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial .aa-price {
    float: left;
    font-size: 18px;
    padding: 3px 0;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial a {
    float: right;
    color: #ffa500;
    font-size: 18px;
}

#aa-latest-property {
    padding: 50px 0;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-img {
    display: block;
    width: 50%;
    float: left;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-content {
    width: 50%;
    border-top: 1px solid #ddd;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info span {
    margin: 0 3px;
}

.aa-properties-item {
    margin-top: 50px;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-img {
    height: 223px;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-img img {
    height: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info span {
    margin: 0 3px;
}

.watch-more{
    float: right;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}

.aa-top-slider-btn{
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #ffa500;
}

.aa-top-slider-btn:hover{
    color: #ffbf00;
}

.search{
    padding-top: 15px;
}


/*=======================34新增====================*/

.jumbotron-hr {
  border-top-color: #d0d5d8;
}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
.form-group {
    margin-bottom: 1rem;
    width: 450px;  
    margin:auto;   
  }
.form-group.text{
    box-align:center;
    margin-left: 0.5rem;
}

.form__group label{
    font-size: 18px;
    color: #fff;
}

/* joinActivity
==================================================*/
.container{
    /* margin-top: 60px; */
    width: 90%;
}

.container2{
    width: 100%;
    margin-top: 60px;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.actBtn{
    margin: 80px 20px;
}

.actBtn #content1 p:not(:last-child),
.actBtn #content2 p:not(:last-child) {
	margin: 0 0 20px;
}
 
.actBtn section {
    display: none;
	padding: 20px 0 0;
	border-top: 1px solid #abc;
}

.actBtn input {
	display: none;
}

.actBtn input:checked + label {
	color: #ff851b;
	border: 1px solid #abc;
	border-top: 2px solid #ff851b;
	border-bottom: 1px solid #fff;
}

.actBtn label {
	display: inline-block;
	margin: 0 0 -1px;
    padding: 15px 25px;
    font-size: 22px;
	font-weight: 600;
	text-align: center;
	color: #404040;
	border: 1px solid transparent;
}

.actBtn label:hover {
	color: #789;
	cursor: pointer;
}

.actBtn label a{
    color: #404040;
}

.actBtn #tab1:checked ~ #content1, .actBtn #tab2:checked ~ #content2, .actBtn #tab3:checked ~ #content3 {
    display: block;
}
 
@media screen and (max-width: 800px) {
	label {
	    font-size: 0;
	}
	label:before {
		margin: 0;
		font-size: 18px;
	}
}
@media screen and (max-width: 500px) {
	label {
		padding: 15px;
	}
}

.actBtn #content1, .actBtn #content2{
    text-align: left;
}

.publicAct, .spontAct{
    width: 1200px;
    margin: 3px auto;
}

.publicAct, .spontAct tr{
    margin-bottom: 5px;
}

.publicAct, .spontAct tr th{
    font-size: 20px;
}

.publicAct, .spontAct tr td{
    font-size: 18px;
}

.publicAct tr td:nth-child(1), .publicAct tr th:nth-child(1){
    width: 450px;
}

.publicAct tr td:nth-child(2), .publicAct tr th:nth-child(2),
.publicAct tr td:nth-child(3), .publicAct tr th:nth-child(3){
    width: 200px;
    margin-left: 5px;
}

.spontAct tr td:nth-child(1), .spontAct tr th:nth-child(1){
    width: 350px;
}

.spontAct tr td:nth-child(2), .spontAct tr th:nth-child(2),
.spontAct tr td:nth-child(3), .spontAct tr th:nth-child(3),
.spontAct tr td:nth-child(4), .spontAct tr th:nth-child(4),
.spontAct tr td:nth-child(5), .spontAct tr th:nth-child(5){
    width: 200px;
    margin-left: 5px;
}

ul.act li a i:hover{
    color: darkorange;
}

.icon-align2{
    vertical-align:middle;
}

.watch-more2{
    font-size: 16px;
    width: 50px;
}

i.check, i.cancel{
    color: #ffa500;
}

.clear{
    clear: both;
}

/* detailedAct
==================================================*/
.table-act tr{
    margin: 0;
}

.table-act tr th{
    color: #171717;
    font-weight: 500;
    width: 15%; 
    font-size: 18px;
}

.table-act tr td{
    font-size: 16px;
    color: #171717;
}

.table-act{
    border-top: transparent;
}

.h-10 h4{
    color: #171717;
    margin-left: 25px;
}

div.stars{
  width: 250px;
  display: inline-block;
  margin: 0 auto;
}
 
input.star{
  display: none;
}
 
label.star{
  float: right;
  padding: 3px 12px;
  font-size: 25px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content:'\f005';
  color: #ffbf00;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color:#ffbf00;
  text-shadow: 0 0 5px #fe7;
}
 
input.star-1:checked ~ label.star:before {
  color: #F62;
}
 
label.star:hover{
  transform: rotate(-15deg) scale(1.3);
}
 
label.star:before{
  content:'\f006';
  font-family: FontAwesome;
}
 
/*.rev-box{
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .25s;
}
 
textarea.review{
  background: #222;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: #EEE;
}
 
label.review{
  display: block;
  transition:opacity .25s;
}
 
input.star:checked ~ .rev-box{
  height: 125px;
  overflow: visible;
}
*/



/* addActivity
==================================================*/
.addAct-container{
    width: 70%;
    margin:70px auto 30px auto;
    background:rgba(255,191,0, 0.4);
    border-radius: 1.25rem;
    /*background: linear-gradient(45deg, #ee6363 10%, #ffbf00 90%);*/
}

.addAct-form form div div.col-md-3, .addAct-form form div div.col-md-9{
    font-size: 18px;
    color: #171717;
}

.addAct-form form div div.col-md-3{
    padding-left: 50px;
}

.addAct-form .col-md-12{
    margin: 5px auto;
}

.addForm-title{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #171717;
}

.addAct-input{
    border-radius: 0.25rem;
    line-height: 1.5;
}

.richText{
    background: #fff;
}

#editor{
    height: 200px;
}

.addAct-btn{
    text-align: center;
}

.addAct-btn .btn{
    margin:5px auto 20px auto;
}

/* form-control
==================================================*/
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 18px;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.mr-sm-2 {
    margin-right: 3px !important;
}

.search2{
    max-width: 200px;
}

/* btn
==================================================*/
.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.8rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  
.btn:focus, .btn:hover {
    text-decoration: none;
}
  
.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 140, 0, 0.25);
            box-shadow: 0 0 0 2px rgba(255, 140, 0, 0.25);
}
  
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}
  
.btn:active, .btn.active {
    background-image: none;
}
  
a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary2 {
    color: #fff;
    background-color: #ffbf00;
    border-color: #ffbf00;
    font-size: 18px;
}
  
.btn-primary2:hover {
    color: #333;
    background-color: #ffa500;
    border-color: #ffa500;
}

.btn-primary2:focus, .btn-primary2.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 140, 0, 0.5);
            box-shadow: 0 0 0 2px rgba(255, 140, 0, 0.5);
}
  
.btn-primary2.disabled, .btn-primary2:disabled {
    background-color: #ffbf00;
    border-color: #ffbf00;
}
  
.btn-primary2:active, .btn-primary2.active,
 .show > .btn-primary2.dropdown-toggle {
    color: #fff;
    background-color: #ffa500;
    background-image: none;
    border-color: #ffa500;
}


/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

b i:last-child {
    color: #ffbf00 !important;
}

.box-intro h5 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #999;
    line-height: 1.7
}


/* mouse effect */

.mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #888;
    -webkit-animation: intro 1s;
    animation: intro 1s;
}

.scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: #888;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}


/* text rotate */

.box-headline {
    font-size: 130px;
    line-height: 1.0;
}

.box-words-wrapper {
    display: inline-block;
    position: relative;
}

.box-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.box-words-wrapper b.is-visible {
    position: relative;
}

.no-js .box-words-wrapper b {
    opacity: 0;
}

.no-js .box-words-wrapper b.is-visible {
    opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-headline.rotate-2 b {
    opacity: 0;
}

.box-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
    opacity: 1;
}

.box-headline.rotate-2 i.in {
    -webkit-animation: box-rotate-2-in 0.4s forwards;
    animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
    -webkit-animation: box-rotate-2-out 0.4s forwards;
    animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}


/* footer
==================================================*/

footer {
    padding: 30px 0;
    text-align: center;
    background: #f5f5f5
}

.copyright {
    color: #555;
    margin-bottom: 0;
}

footer img {
    margin: 0 auto;
}


/* backto top
==================================================*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    line-height: 40px;
    font-size: 20px;
    right: 10px;
    text-align: center;
    color: #fff;
    background: rgba(255, 191, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
    color: #555;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cd-top:hover,
.no-touch .cd-top:focus {
    background-color: #ffbf00;
    opacity: 1;
    color: #fff;
}


/* About page
==================================================*/

.top-bar {
    color: #333;
    padding: 150px 0 150px;
    background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/02.jpg);
    background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/02.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.top-bar h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #666;
    line-height: 50px;
}

.top-bar p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
}

.top-bar p a {
    color: #666;
}

.top-bar p a:hover,
.top-bar p a:focus {
    color: #444;
    text-decoration: none;
}

.social-ul {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.social-ul li {
    margin: 0 10px;
    float: left;
}

.social-ul li a {
    font-size: 25px;
    color: #555;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.social-ul li a:hover {
    color: #888;
}


/* Services page
==================================================*/

.size-50 {
    font-size: 50px;
}

.service-box {
    margin-bottom: 30px;
}

.service-box h3 {
    margin-top: 0;
}


/* contact page
==================================================*/

.details-text i {
    margin-right: 10px;
}

.textarea-contact {
    height: 200px;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, .1);
    position: relative;
}

.textarea-contact textarea {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 20px;
    background-color: transparent;
    float: left;
    z-index: 2;
    font-size: 14px;
    color: #9a9a9a;
    resize: none;
}

.textarea-contact > span {
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input-contact {
    height: 40px;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, .1);
    position: relative;
    margin-bottom: 30px;
}

.input-contact input[type="text"] {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0 20px;
    float: left;
    position: relative;
    background-color: transparent;
    z-index: 2;
    font-size: 14px;
    color: #9a9a9a;
}

.input-contact > span {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input-contact > span.active,
.textarea-contact > span.active {
    color: #ffbf00;
    font-size: 10px;
    top: 0px;
    left: 5px;
    background-color: #fff;
    padding: 5px
}

input:focus,
textarea:focus {
    outline: none;
}

.contact-info {
    margin-top: 20px;
}

.contact-info i {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #ffbf00;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    color: #fff;
    font-size: 21px;
}

.contact-info p {
    display: inline-block;
    margin-right: 20px;
}

.btn-box {
    background: #ffbf00;
    padding: 10px 50px;
    border-radius: 0;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn-box:hover,
.btn-box:focus {
    background: #F5B700;
    color: #fff;
}


/* single project page
==================================================*/

.cat-ul {
    padding-left: 0;
    list-style: none
}

.cat-ul li i {
    margin-right: 10px;
    color: #ffbf00;
}

.cat-ul2{
    font-size: 15px;
}


/* Responsive media queries
==================================================*/

@media (max-width: 991px) {
    .portfolio .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .portfolio .categories-grid .categories ul li {
        text-align: center;
    }
    .portfolio .categories-grid .categories ul li a {
        margin-left: 0;
    }
    .col-md-6 h3 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 670px) {
    .box-headline {
        font-size: 100px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .box-primary-nav a {
        padding: 5px 1em;
        font-size: 14px;
    }
    .box-primary-nav {
        padding: 80px 0 0;
    }
    .box-primary-nav .box-social a {
        font-size: 23px;
    }
    .top-bar h1 {
        font-size: 40px;
        line-height: 30px;
    }
    .portfolio .categories-grid .categories ul li {
        float: none;
    }
}

@media only screen and (max-width: 520px) {
    .box-headline {
        font-size: 80px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .main-container {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 420px) {
    .box-headline {
        font-size: 50px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .top-bar h1 {
        font-size: 30px;
        line-height: 30px;
    }
}