/*--------------------------------------- register ----------------------------------------------*/

/*$font-family:   "Roboto";
$font-size:     14px;

$color-primary: #ABA194;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins','Noto Sans TC', sans-serif;
  font-size: 14px;
  background-size: 200% 200% !important;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #ee6363 10%, #ffbf00 90%);
  /* background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%); */
  height: 100%;
}

.user {
  width: 90%;
  max-width: 340px;
  margin: 10vh auto;
}

.user__header {
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
  font-size: 26px;
  margin-bottom: -10px;
  font-weight: 500;
  color: white;
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}

/* 登入會晃的動畫 (應該用不到)
.form--no {
  animation: NO 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
*/

.form__input {
  display: block;
  width: 100%;
  padding: 15px;
  font-family:'Poppins','Noto Sans TC', sans-serif;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
}

.form__input:focus {
  background: darken(#fff, 3%);
}

.btn {
  display: block;
  width: 100%;
  padding: 15px;
  font-family: 'Poppins','Noto Sans TC', sans-serif;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #ABA194;
  transition: 0.3s;
}

.btn:hover {
  background: darken(#ABA194, 5%);
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
    
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes move {
  0% {
    background-position: 0 0
  }

  50% {
    background-position: 100% 0
  }

  100% {
    background-position: 0 0
  }
}

/* footer */
footer {
  padding: 30px 0;
  text-align: center;
  background: none;
}

.copyright {
  color: #fff;
  margin-bottom: 0;
}

/*---------------------------------------end register ----------------------------------------------*/


/*--------------------------------------- login ----------------------------------------------*/

a.login{
  color: #fff;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.text-center {
    text-align: center;
}

.p-t-12 {
    padding-top: 12px;
}

.p-t-20 {
    padding-top: 18px;
}

.txt1 {
  font-size: 15px;
  line-height: 1.5;
  color: #eee;
}

.txt2 {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}

.txt2:hover{
  color: #fff;
}

/*--------------------------------------- end login ----------------------------------------------*/