/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 240px;
  margin-top: 80px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -240px;
}

#sidebar ul p {
  padding: 10px;
}

#sidebar ul li a {
  display: block;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 240px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

#sidebarCollapse{
  font-size: 20px;
  margin: 0;
  background: transparent;
  border: transparent;
  text-align: center;
}

.nav>li>#sidebarCollapse{
  padding:10px 15px;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -240px;
      margin-top: 70px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
      margin-top: -10px; /*-30px*/
  }
  #content.active {
      width: calc(100% - 240px);
  }
  #sidebarCollapse span {
      display: none;
  }
  #sidebar ul li .avatar-wrapper{
    height: 200px !important;
    width: 200px !important;
  }
}

@media (min-width: 768px) and (max-width:992px) {
  #sidebar {
    width: 240px;
    margin-top: 80px;
  }
  #sidebar.active {
    margin-left: 0;
    margin-left: -240px;
  }
  #content {
    width: calc(100% - 40px);
  }
  #content.active {
      width: calc(100% + 190px);
  }
  #content {
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}