<ion-header>
  <ion-toolbar>
    <ion-title>
      開始
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
    
    <!-- ........................... -->
    <div #mapContainer id="map"></div>
    <!-- ........................... -->

    <!-- 第一部分 -->
    <ion-row align-self-center>
      <ion-col>
        <div>
          <div>
            <ion-item>
              <ion-col size="auto">
                <ion-label>運動項目</ion-label>
              </ion-col>
              <ion-col class="ion_right">
                <ion-select [interfaceOptions]="customPopoverOptions" interface="action-sheet">
                  <ion-select-option value="walk">健走</ion-select-option>
                  <ion-select-option value="run" selected>跑步</ion-select-option>
                  <ion-select-option value="bicycle">單車</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-item>
          </div>
          
          <div>
            <ion-row size="auto">
              <ion-col>
                <ion-button expand="block" (tap)="doTap()">{{btnStart || '開始'}}</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" disabled="true">{{btnStop || '暫停'}}</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" disabled="true">{{btnEnd || '結束'}}</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>  
    </ion-row> 

    


    <!-- 尾巴 -->
    <div>
      <ion-card-title text-center>How健康</ion-card-title>
      <ion-card-subtitle text-center>Version 1.0.0</ion-card-subtitle>
    </div>
    

    

        
</ion-content>
