<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>How Healthy</title>
    <link rel="icon" href="/img/2.png" type="image/x-icon">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/success.css" rel="stylesheet">

</head>

<body>
    <section class="page_404">
        <div class="container" style="padding: 0;">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="four_zero_four_bg"></div>
                <div class="content_box_404">
                    <h3>新增成功</h3>                                
                    <p>您所新增的資料的已儲存</p>
                    <a href="/joinActivity" class="link_404">回上頁</a>
                </div>
            </div>   
        </div>
    </section>
    
</body>
</html>