<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>How Healthy</title>
    <link rel="icon" href="/img/2.png" type="image/x-icon">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/error.css" rel="stylesheet">

</head>

<body>
    <div class="col-md-10" style="margin: auto;">
        <section class="page_404">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="four_zero_four_bg"></div>
                <div class="content_box_404">
                    <h3>登入失敗</h3>                                
                    <p>請確認帳號密碼有無錯誤</p>
                    <a href="javascript:history.back()" class="link_404">回上頁</a>
                </div>
            </div>   
        </section>
    </div>        
</body>
</html>