<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>How Healthy</title>
	<link rel="icon" href="/img/2.png" type="image/x-icon">

	<meta name="description" content="Source code generated using layoutit.com">
	<meta name="author" content="LayoutIt!">
    <link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/register.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        <div class="user">
            <header class="user__header">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
                <h1 class="user__title"><a class="login">註冊 Register</a></h1>
            </header>
            
            <form class="form" action = "/user/add" method = "post">
                <div class="form__group">
                    <input type="text" placeholder="Username" class="form__input" name="displayname" required/>
                </div>
                
                <div class="form__group">
                    <input type="email" placeholder="Email" class="form__input" name="memno" required />
                </div>
                
                <div class="form__group">
                    <input type="password" placeholder="Password" class="form__input" id="psw" name="mempassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="請確認密碼是否符合規定" required />
                </div>

                <div id="message">
                    <h3>請確認您的密碼包含:</h3>
                    <p id="letter" class="invalid">至少一個 <b>小寫</b> 英文字母</p>
                    <p id="capital" class="invalid">至少一個 <b>大寫</b> 英文字母</p>
                    <p id="number" class="invalid">至少一個 <b>數字</b></p>
                    <p id="length" class="invalid">密碼長度 <b>8-12</b> 位數</p>
                </div>
                
                <button class="btn" type="submit" style="font-size: 18px;">註冊</button>
            </form>
        </div>
    </div>


    <!-- footer -->
	<footer>
        <div class="container-fluid">
            <p class="copyright">&copy; NTUB IMD  108506. All rights reserved.</p>
        </div>
    </footer>
    <!-- end footer -->
        
    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->
        
        
    <!-- jQuery -->
    <script src="/js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/animated-headline.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
        
    <!--  custom script -->
    <script src="/js/custom.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/register.js"></script>

    <script src="/js/password.js"></script>
</body>
</html>