<ion-header>
  <ion-toolbar>
    <ion-title>
      會員
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-img class="profile_pic"src="/assets/images/photo_4.jpg"></ion-img>
          </ion-item>
          <ion-item>
            <ion-col size="2">
              <ion-label>姓名</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-input type="text" value="郭加于"></ion-input>
            </ion-col>
          </ion-item>

          <ion-item>
            <ion-col size="2">
              <ion-label>Email</ion-label>
            </ion-col>
            <ion-col>
              <ion-input type="email" value="10456021@ntub.edu.tw" readonly="true"></ion-input>
            </ion-col>
          </ion-item>

          <ion-item>
            <ion-col size="2">
              <ion-label>密碼</ion-label>
            </ion-col>
            <ion-col>
              <ion-input type="password" value="1085066666"></ion-input>
            </ion-col>
          </ion-item>

          <ion-item>
            <ion-col size="2">
              <ion-label>點數</ion-label>
            </ion-col>
            <ion-col class="ion_right">
              <ion-input type="text" value="500" readonly="true"></ion-input>
            </ion-col>
          </ion-item>
          
          <!--
            <ion-item>
              <ion-label position="floating" >Floating Label</ion-label>
              <ion-input placeholder="Enter Input"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Stacked Label</ion-label>
              <ion-input placeholder="Enter Input"></ion-input>
            </ion-item>
          -->

          <ion-item>
            <ion-col size="2">
              <ion-label>性別</ion-label>
            </ion-col>
            <ion-col class="ion_right">
              <ion-select [interfaceOptions]="customPopoverOptions" interface="action-sheet">
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="female" selected>Female</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-item>
              
          <!--
            <ion-item>
              << Segment with default selection >>
              <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
                <ion-label>性別</ion-label>
                <ion-segment-button value="python">
                  <ion-label>Python</ion-label>
                </ion-segment-button>
                <ion-segment-button value="javascript">
                  <ion-label>Javascript</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
          -->
          <ion-item>
            <ion-col size="2">
              <ion-label>生日</ion-label>
            </ion-col>
            <ion-col class="ion_right">
              <ion-datetime value="2000/8/27"></ion-datetime>
            </ion-col>
          </ion-item>
          
        </ion-col>
      </ion-row>
      <ion-button expand="block">儲存修改</ion-button>
      
    </ion-grid>



    
    
  </ion-list>
  
</ion-content>
