<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-col size="2">
      <ion-label>Email</ion-label>
    </ion-col>
    <ion-col>
      <ion-input type="email" value="10456021@ntub.edu.tw"></ion-input>
    </ion-col>
  </ion-item>

  <ion-item>
    <ion-col size="2">
      <ion-label>密碼</ion-label>
    </ion-col>
    <ion-col>
      <ion-input type="password" value="1085066666"></ion-input>
    </ion-col>
  </ion-item>
  <br>
  <div class="submit">
    <ion-button expand="block" [routerLink]="['/start']">登入</ion-button>
    <ion-button expand="block">註冊</ion-button>
    <ion-label class="forget">
      <a href="">忘記密碼</a>
    </ion-label>
  </div>
    
</ion-content>
