<ion-header>
  <ion-toolbar>
    <ion-title>登入</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/images/logo1-removebg-medium.png"></ion-img>
  <ion-item>
    <ion-col size="2">
      <ion-label>Email</ion-label>
    </ion-col>
    <ion-col>
      <ion-input type="email" [(ngModel)]="userId"></ion-input>
    </ion-col>
  </ion-item>

  <ion-item>
    <ion-col size="2">
      <ion-label>密碼</ion-label>
    </ion-col>
    <ion-col>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-col>
  </ion-item>
  <br>
  <div class="submit">
    <ion-button expand="block" (click)="loadData()" >登入</ion-button>
    <ion-button expand="block">註冊</ion-button>
    <ion-label class="forget">
      <a href="">忘記密碼</a>
    </ion-label>
  </div>
    
</ion-content>
