<ion-header>

</ion-header>

<ion-content padding has-header="true">
  <div class="centerContent">
    <div class="div1" >
      <ion-img src="/assets/images/logo1-removebg.png" class="animated bounceIn" id="yourElement"></ion-img>
      <div>
        <h2 class="site_title">How Healthy.</h2>
      </div>
      <ion-item>
        <ion-col>
          <ion-input placeholder="E-mail" clearInput type="email" [(ngModel)]="userId"></ion-input>
        </ion-col>
      </ion-item>

      <ion-item>
        <ion-col>
          <ion-input placeholder="Password" clearInput type="password" [(ngModel)]="password"></ion-input>
        </ion-col>
      </ion-item>
    </div>

    <div class="submit">
      <ion-button expand="round" (click)="loadData()" [disabled]="!isLoginEnabled">登入</ion-button>
    </div>

  </div>
</ion-content>
